@using LyeKJ.SEOAnalyser.Constants;
@using LyeKJ.SEOAnalyser.ViewModels;
@model AnalysisResult
@{
    ViewBag.Title = "Home Page";
}

<div>
    @Html.Partial("_AnalysisForm", new AnalysisForm())
</div>

<div>
    <h3>Word Count</h3><hr />
    @if (Model.WordCountMap.Any())
    {
        <table class="table table-bordered tablesorter-blue">
            <thead>
                <tr>
                    <th>Word</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var wordCount in Model.WordCountMap)
                {
                    <tr>
                        <td>@wordCount.Key</td>
                        <td>@wordCount.Value</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert-danger">No words found.</div>
    }
</div>

<div>
    <h3>Keyword Count</h3><hr />
    @if (Model.KeywordCountMap.Any())
    {
        <table class="table table-bordered tablesorter-blue">
            <thead>
                <tr>
                    <th>Keyword</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var wordCount in Model.KeywordCountMap)
                {
                    <tr>
                        <td>@wordCount.Key</td>
                        <td>@wordCount.Value</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert-danger">No keywords found.</div>
    }
</div>

<div>
    <h3>External Links</h3><hr />
    @if (Model.Links.Any())
    {
        <h4>Number of external links : @Model.Links.Count </h4>

        <table class="table table-bordered tablesorter-blue">
            <thead>
                <tr>
                    <th>External Links</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var link in Model.Links)
                {
                    <tr>
                        <td>@link</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert-danger">No external links found.</div>
    }
</div>

@section scripts{
    <script>
        $(function () {
            $('.tablesorter-blue').tablesorter();

            if ($('#radioUrl').is(':checked')) {
                showUrlForm();
            }

            if ($('#radioHtml').is(':checked')) {
                showHtmlForm();
            }

            $('#radioUrl').click(showUrlForm);

            $('#radioHtml').click(showHtmlForm);
        });

        function showUrlForm() {
            $('#urlForm').show();
            $('#htmlForm').hide();
        }

        function showHtmlForm() {
            $('#urlForm').hide();
            $('#htmlForm').show();
        }
    </script>
}